
# Maven
target/

# Screenshots
Screenshot_success/
Screenshot_failure/

# TestNG
test-output/

# Allure
allure-results/
allure-report/

# Extent Reports
extent-report/

# Logs
*.log

# Eclipse
.project
.classpath
.settings/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/
=======
# Maven
target/

# Test reports
test-output/
allure-results/
allure-report/
extent-report/

# Screenshots
Screenshot_success/
Screenshot_failure/

# Logs
*.log

# Eclipse
.classpath
.project
.settings/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
